<div class="p-3">

  <div class="pl-2" *ngIf="loading">Posts loading...</div>

  <ng-container *ngIf="projects$ | async as projects">
    <app-filters *ngIf="projects.length"></app-filters>

    <div class="d-flex flex-wrap">
      <div
        class="card text-dark m-2"
        style="width: 18rem;"
        *ngFor="let project of projects"
      >
        <div class="card-body">
          <h5 class="card-title">{{ project.name }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">Start date: {{ project.startDate }}</h6>
          <p *ngIf="project.technologies.length"> Technologies:
            <span
              class="pl-0"
              *ngFor="let technology of project.technologies, let last = last">
                {{ technology.name }}
              <ng-container *ngIf="!last">, </ng-container>
             </span>
          </p>
        </div>

        <div class="card-footer">
          <a [routerLink]="[project.id]" class="card-link">See more</a>
          <button class="btn btn-primary btn-sm px-2 my-0 float-right" (click)="onDelete(project.id)">Delete</button>
        </div>
      </div>
    </div>

    <div class="d-flex align-items-center mt-2">
      <button
        class="btn btn-primary btn-sm mt-0"
        *ngIf="projects && projects.length"
        (click)="onDeleteAll()">Delete all
      </button>

      <nav class="mr-3" aria-label="...">
        <ul class="pagination pagination-sm mb-0 ml-3">
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item active" aria-current="page">
            <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
          </li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
      </nav>
    </div>
  </ng-container>

  <section class="mt-5 py-2 border-1 border-primary">
    <app-project-form
      class="d-block w-50"
      (addProject)="onAddProject($event)"
    ></app-project-form>
  </section>
</div>
