<div class="p-2">
  <ng-container *ngIf="projects$ | async as projects">

    <div class="d-flex flex-wrap">
      <div
        class="card text-dark m-2"
        [ngClass]="{ 'bg-light': project.selected }"
        style="width: 18rem;"
        *ngFor="let project of projects"
      >
<!--        (click)="onToggle(project.id)"-->

        <div class="card-body">
          <h5 class="card-title">{{ project.name }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">Start date: {{ project.startDate }}</h6>
          <p *ngIf="project.technologies.length"> Technologies: <br />
            <span
              class="pl-0"
              *ngFor="let technology of project.technologies, let last = last">
                {{ technology.name }}
<!--              <button-->
<!--                class="btn-sm btn-warning ml-0 px-1 py-0 mt-0 "-->
<!--                (click)="onDeleteTechnology(project.id, technology.id)"-->
<!--              >x</button>-->
              <ng-container *ngIf="!last">, </ng-container>
             </span>
          </p>
        </div>

        <div class="card-footer">
          <a [routerLink]="[project.id]" class="card-link">See more</a>
<!--          <button class="btn btn-primary btn-sm px-2 my-0 float-right" (click)="onDelete(project.id)">Delete</button>-->
        </div>
      </div>
    </div>

    <div class="d-flex align-items-center mt-2">
<!--      <button-->
<!--        class="btn btn-primary btn-sm mt-0"-->
<!--        *ngIf="projects && projects.length"-->
<!--        (click)="onDeleteAll()">Delete all-->
<!--      </button>-->

      <button
        class="btn btn-primary btn-sm mt-0 ml-2"
        (click)="fetchMore()">Fetch More
      </button>
    </div>
  </ng-container>
</div>
